<div class="container">
    <div class="card">
        <h1>Welcome...</h1>
        <p id="text">Please continue to login</p>
        <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="form-group">
                <input type="text" formControlName="username" placeholder="Enter your username">
            </div>
            @if(loginForm.get('username')?.touched && loginForm.get('username')?.invalid){
                <p class="invinp">*Invalid Username</p>
            }
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Enter your password">
            </div>
             @if(loginForm.get('password')?.touched && loginForm.get('password')?.invalid){
                <p class="invinp">*Invalid Password</p>
            }
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

